<nav class="teal darken-1">
  <div class="nav-wrapper container">
    <a routerLink="" class="brand-logo">Explorer</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <ng-container *ngIf="!userService.isLoggedIn()">
        <li routerLinkActive="active"><a [routerLink]="['/']">Login</a></li>
        <li routerLinkActive="active"><a [routerLink]="['signup']">SignUp</a></li>
      </ng-container>
      <!-- Dropdown Trigger -->
      <li *ngIf="userService.isLoggedIn()"><a class="dropdown-trigger" data-target="dropdown1">
          {{ userService.user?.name | titlecase }}<i class="material-icons right">arrow_drop_down</i></a>
        <ul id="dropdown1" class="dropdown-content">
          <li><a href="#!">Profile</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo" *ngIf="userService.isLoggedIn()">
  <li><a href="#!">Profile</a></li>
  <li><a (click)="logout()">Logout</a></li>
</ul>
<br>