button {
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}

button i {
  line-height: 1;
  height: auto;
}

.mat-menu-item {
  padding: 0px;
}

.mat-menu-item a {
  padding-left: 15px;
  display: block;
}

li:hover {
  background: #007b6f;
}

.main-nav {
  position: relative;
  top: 0;
}
