<ng-masonry-grid [masonryOptions]="myOptions" (onNgMasonryInit)="onNgMasonryInit($event)" [useAnimation]="true"
  [useImagesLoaded]="true" [scrollAnimationOptions]="{ animationEffect: 'effect-5', minDuration : 0.4, maxDuration : 0.7 }">
  <div class="col m4 s12 stamp">
    <app-post-form *ngIf="user?.id == userService?.user.id" (postEvent)="receivePost($event)"></app-post-form>
  </div>
  <ng-masonry-grid-item class="col m4 s12" id="{{'masonry-item-'+i}}" *ngFor="let post of posts; let i = index" (click)="removeItem($event)">
    <app-single-post [post]='post'></app-single-post>
  </ng-masonry-grid-item>
</ng-masonry-grid>