<div class="row">
    <div class="col l12 m12 s12">
        <ng-container *ngIf="user else loading">
            <app-cover [user]="user"></app-cover>
            <div class="posts row">
                <app-posts [user]='user'></app-posts>
            </div>
        </ng-container>
    </div>
</div>



<ng-template #loading>
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</ng-template>