<ng-container *ngIf="user else loading">
    <app-cover [user]="user"></app-cover>
    <div class="posts">
        <div class="grid-item">
            <app-post-form *ngIf="user.id == userService.user.id"></app-post-form>
        </div>
        <app-posts></app-posts>
    </div>
</ng-container>



<ng-template #loading>
    <div class="lds-roller">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</ng-template>