<div class="card">
  <form #form="ngForm" (ngSubmit)="form.valid && share()">
    <div class="black-text"><span class="card-title">What's new</span></div>
    <textarea
      placeholder="Share something..."
      cols="30"
      rows="5"
      [(ngModel)]="post.description"
      name="text"
      required
    ></textarea>
    <ng-container *ngIf="post.photos.length > 0">
      <div class="center pic-holder">
        <img [src]="url" *ngFor="let url of post.photos" class="rounded mb-3" height="70" [@fallIn]="state" style="margin:2px" />
      </div>
    </ng-container>
    <div class="card-action">
      <i class="material-icons" [ngStyle]="{'color':'#c4c4c4', 'position':'absolute', 'cursor':'pointer'}" (click)="selectPic.click()">insert_photo</i>
      <input type="file" class="hide" multiple #selectPic (change)="detectFiles($event)" />
      <button
        type="submit"
        class="btn btn-primary myColor right"
        [disabled]="form.invalid || posting"
      >
        <span *ngIf="!posting; else: loading">Post</span>
        <ng-template #loading>
          <div class="lds-ellipsis">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </ng-template>
      </button>
    </div>
  </form>
</div>
