textarea {
  border: none;
  padding: 30px 0px 0px 10px;
  resize: none;
  height: auto;
}

.card .card-title {
  font-size: 15px;
  font-weight: 500;
}

.card .black-text {
  padding: 10px;
}

textarea:focus {
  outline: none !important;
}

.card-action {
  padding: 0px;
}

.btn {
  font-size: 12px;
  padding: 0px 10px;
  border-radius: 0px;
  transform: scale(0.95);
}

.btn:disabled {
  background: none;
}
