<div class="row">
  <div class="cover">
    <div class="cover-pic">
      <div class="cover-img" style="background: url('../assets/images/cover.jpg');"></div>
    </div>
    <div class="cover-menu">
      <div _ngcontent-c2="" class="pro-pic-holder2" (click)="changeUser()">
        <div _ngcontent-c2="" class="pro-pic-uploader" title="Change Profile picture"><i _ngcontent-c2="" class="fa fa-pencil"></i></div>
        <p _ngcontent-c2="" class="username"><a _ngcontent-c2="" href="https://mybuds.000webhostapp.com/profile/3">{{
            user?.name }}</a></p>
      </div>
      <ul class="hidden-xs">
        <li><a [routerLink]="['']">Home</a></li>
        <li><a href="">About</a></li>
        <li><a href="https://mybuds.000webhostapp.com/friends">Friends</a></li>
        <li class="add-event"><a>Add Events</a></li>
      </ul>
    </div>
  </div>
</div>