<div class="card post">
  <div class="row">
    <div class="col s2">
      <div class="thumb-holder">
        <img alt="" class="circle responsive-img thumb" height="40" src="https://materializecss.com/images/yuna.jpg"
          width="40">
        <span class="noti">2</span>
      </div>
    </div>
    <div class="col s10" style="padding-left: 20px;">
      <span class="post-user">
        Saroj Mhj
      </span>
      <div class="post-time">
        <span>10:53PM - Mar 1, 2018</span>
      </div>
      <div class="card-content">
        <p>{{ post.content }}</p>
      </div>
    </div>
  </div>
  <div class="post-options">
    <i class="material-icons" mat-button [matMenuTriggerFor]="menu">more_vert</i>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
  </div>
</div>