<div class="card post">
  <div class="row">
    <div class="col s2">
      <div class="thumb-holder">
        <img
          alt=""
          class="circle responsive-img thumb"
          height="40"
          [src]="
            post.user._id == userService.user._id
              ? userService.user.userImage
              : 'http://localhost:3000/' + post.user.userImage
          "
          width="40"
        />
        <span class="noti">2</span>
      </div>
    </div>
    <div class="col s10" style="padding-left: 20px;">
      <span class="post-user">
        <ng-container *ngIf="post.user._id == userService.user.id; else: link2">
          <a routerLink="/">{{ post.user?.name }}</a>
        </ng-container>
        <ng-template #link2>
          <a routerLink="/user/{{ post.user?._id }}">{{ post.user?.name }}</a>
        </ng-template>
      </span>
      <div class="post-time">
        <span>{{ post.created | date: 'h:mma - MMM d, y' }}</span>
      </div>
      <div class="card-content">
        <p>{{ post.description }}</p>
      </div>
    </div>
  </div>
  <div class="row card-footer">
    <div class="post-action"><i class="fas fa-share" (click)="ogShare(post.content)"></i></div>
  </div>
  <div class="post-options" mat-button [matMenuTriggerFor]="menu">
    <i class="material-icons">more_vert</i>
    <mat-menu #menu="matMenu">
      <button mat-menu-item style="background:transparent">Edit</button>
      <button mat-menu-item (click)="removePost()">Remove</button>
    </mat-menu>
  </div>
</div>
