.post {
  padding: 20px;
  position: relative;
  background: #fbfafb;
}

img.thumb {
  width: 50px;
  max-width: 50px !important;
  height: 50px;
}

.post-user {
  font-size: 17px;
  font-weight: 600;
}

.card-content {
  padding: 5px 0px;
}

.post-time {
  color: #949494;
  font-size: 14px;
}

.thumb-holder {
  position: relative;
}

.thumb-holder .noti {
  position: absolute;
  right: -15px;
  bottom: 0;
  background: #ffd400;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
}

.post-options {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #adadad;
  cursor: pointer;
}

.post-options:hover {
  color: #000;
}
