<br />
<br />
<div class="row">
  <div class="col s12 m4 offset-m4">
    <div class="row">
      <form #form="ngForm">
        <div class="input-field col s12">
          <input type="text" id="email" name="email" [(ngModel)]="email" aria-describedby="emailHelp" #userEmail='ngModel'
            required email />
          <label for="email">Email address</label>

          <ng-container *ngIf="userEmail.invalid && (userEmail.dirty || userEmail.touched)">
            <span *ngIf="userEmail.errors?.required" class="red-text text-darken-1 helper-text">Email Required.</span>
            <span *ngIf="userEmail.errors?.email && userEmail.touched" class="red-text text-darken-1 helper-text">Must
              be
              email.</span>
          </ng-container>

        </div>
        <div class="input-field col s12">
          <div class="input-field">
            <button type="submit" class="btn btn-primary myColor">
              <span *ngIf="!submit; else: loading">Submit</span>
              <ng-template #loading>
                <div class="lds-ellipsis">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                </div>
              </ng-template>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>